In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
import sqlite3
from datetime import datetime
import os 
warnings.filterwarnings('ignore')

In [2]:
import seaborn as sns

In [3]:
data = pd.read_csv('Cost of a healthy diet.csv')
data2 = pd.read_csv('GDP per capita.csv')
data3 = pd.read_csv('Number of undernourished people.csv')
data4 = pd.read_csv('Unable to afford healthy diet.csv')

In [18]:
data.head()

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,DATABASE_ID,DATABASE_ID_LABEL,...,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL,2017,2018,2019,2020,2021,2022
0,A,Annual,ABW,Aruba,FAO_CAHD_7004,Cost of a healthy diet (PPP dollar per person ...,PPP_PS_D,PPP dollars per person per day,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,A,Normal value,PU,Public,3.47,3.68,3.97,4.09,4.20,4.71
1,A,Annual,AGO,Angola,FAO_CAHD_7004,Cost of a healthy diet (PPP dollar per person ...,PPP_PS_D,PPP dollars per person per day,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,A,Normal value,PU,Public,3.44,3.41,3.46,3.65,4.00,4.41
2,A,Annual,ALB,Albania,FAO_CAHD_7004,Cost of a healthy diet (PPP dollar per person ...,PPP_PS_D,PPP dollars per person per day,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,A,Normal value,PU,Public,3.04,3.13,3.32,3.40,3.55,4.19
3,A,Annual,ARE,United Arab Emirates,FAO_CAHD_7004,Cost of a healthy diet (PPP dollar per person ...,PPP_PS_D,PPP dollars per person per day,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,A,Normal value,PU,Public,2.42,2.50,2.55,2.74,2.86,3.14
4,A,Annual,ARG,Argentina,FAO_CAHD_7004,Cost of a healthy diet (PPP dollar per person ...,PPP_PS_D,PPP dollars per person per day,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,A,Normal value,PU,Public,3.32,NaN,NaN,NaN,NaN,NaN

In [178]:
filtered_data = data[data["REF_AREA_LABEL"]=="Zambia"]
filtered_data.head()

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,DATABASE_ID,DATABASE_ID_LABEL,...,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL,2017,2018,2019,2020,2021,2022
173,A,Annual,ZMB,Zambia,FAO_CAHD_7004,Cost of a healthy diet (PPP dollar per person ...,PPP_PS_D,PPP dollars per person per day,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,A,Normal value,PU,Public,2.73,2.79,2.88,2.92,3.2,3.53

In [12]:
data2.head()

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,DATABASE_ID,DATABASE_ID_LABEL,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,A,Annual,AFG,Afghanistan,FAO_FS_22013,"Gross domestic product per capita, PPP, (const...",INT_USD_CAP,International Dollar per capita,FAO_FS,Suite of Food Security Indicators,...,2967.7,2958.8,2953.0,2902.4,2927.2,2769.7,2144.2,1981.7,1983.8,NaN
1,A,Annual,AGO,Angola,FAO_FS_22013,"Gross domestic product per capita, PPP, (const...",INT_USD_CAP,International Dollar per capita,FAO_FS,Suite of Food Security Indicators,...,9980.9,9381.8,9042.1,8620.2,8274.5,7557.0,7408.1,7397.5,7250.4,7344.1
2,A,Annual,ALB,Albania,FAO_FS_22013,"Gross domestic product per capita, PPP, (const...",INT_USD_CAP,International Dollar per capita,FAO_FS,Suite of Food Security Indicators,...,13156.3,13692.5,14155.0,14711.0,15078.5,14662.8,16126.8,17112.0,17991.0,18919.8
3,A,Annual,AND,Andorra,FAO_FS_22013,"Gross domestic product per capita, PPP, (const...",INT_USD_CAP,International Dollar per capita,FAO_FS,Suite of Food Security Indicators,...,62105.2,64402.8,63239.7,63048.6,63215.9,55488.5,59332.2,63913.4,64631.3,65928.3
4,A,Annual,ARE,United Arab Emirates,FAO_FS_22013,"Gross domestic product per capita, PPP, (const...",INT_USD_CAP,International Dollar per capita,FAO_FS,Suite of Food Security Indicators,...,70234.7,70574.0,68871.8,68855.0,68887.8,65784.7,67401.1,68867.8,68577.5,68584.7

In [180]:
filtered_data2 = data2[data2["REF_AREA_LABEL"]=="Zambia"]
filtered_data2.head()

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,DATABASE_ID,DATABASE_ID_LABEL,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
187,A,Annual,ZMB,Zambia,FAO_FS_22013,"Gross domestic product per capita, PPP, (const...",INT_USD_CAP,International Dollar per capita,FAO_FS,Suite of Food Security Indicators,...,3576.9,3598.2,3612.5,3647.0,3591.6,3391.6,3503.0,3585.1,3673.5,3716.0

In [16]:
data.describe()

,UNIT_MULT,2017,2018,2019,2020,2021,2022
count,175.0,172.000000,168.000000,168.000000,168.000000,173.000000,168.000000
mean,0.0,3.137151,3.182738,3.267619,3.367024,3.576012,3.960595
std,0.0,0.657576,0.673173,0.678186,0.687685,0.766418,0.865485
min,0.0,1.470000,1.490000,1.530000,1.860000,1.930000,1.860000
25%,0.0,2.657500,2.725000,2.810000,2.885000,3.040000,3.420000
50%,0.0,3.075000,3.105000,3.180000,3.280000,3.440000,3.815000
75%,0.0,3.502500,3.555000,3.662500,3.732500,3.950000,4.492500
max,0.0,5.480000,5.650000,5.570000,5.800000,5.910000,6.760000

In [182]:
filtered_data3 = data3[data3["REF_AREA_LABEL"]=="Zambia"]
filtered_data3.head()

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,DATABASE_ID,DATABASE_ID_LABEL,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
118,A,Annual,ZMB,Zambia,FAO_FS_210011,Number of people undernourished (million) (3-y...,COUNT,Count,FAO_FS,Suite of Food Security Indicators,...,5.9,5.8,5.7,5.5,5.7,5.9,6.5,7.0,7.3,7.7

In [184]:
filtered_data4 = data4[data4["REF_AREA_LABEL"]=="Zambia"]
filtered_data4.head()

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,DATABASE_ID,DATABASE_ID_LABEL,...,OBS_CONF,OBS_CONF_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
144,A,Annual,ZMB,Zambia,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,13.6,14.0,14.6,15.3,15.9,16.5,17.0,17.5

In [68]:
missing_values = filtered_data.isnull().sum()
missing_values

FREQ                  0
FREQ_LABEL            0
REF_AREA              0
REF_AREA_LABEL        0
INDICATOR             0
INDICATOR_LABEL       0
UNIT_MEASURE          0
UNIT_MEASURE_LABEL    0
DATABASE_ID           0
DATABASE_ID_LABEL     0
UNIT_MULT             0
UNIT_MULT_LABEL       0
OBS_STATUS            0
OBS_STATUS_LABEL      0
OBS_CONF              0
OBS_CONF_LABEL        0
2017                  0
2018                  1
2019                  1
2020                  1
2021                  1
2022                  1
dtype: int64

In [70]:
missing_values = filtered_data2.isnull().sum()
missing_values

FREQ                  0
FREQ_LABEL            0
REF_AREA              0
REF_AREA_LABEL        0
INDICATOR             0
INDICATOR_LABEL       0
UNIT_MEASURE          0
UNIT_MEASURE_LABEL    0
DATABASE_ID           0
DATABASE_ID_LABEL     0
UNIT_MULT             0
UNIT_MULT_LABEL       0
OBS_STATUS            0
OBS_STATUS_LABEL      0
OBS_CONF              0
OBS_CONF_LABEL        0
2000                  0
2001                  0
2002                  0
2003                  0
2004                  0
2005                  0
2006                  0
2007                  0
2008                  0
2009                  0
2010                  0
2011                  0
2012                  0
2013                  0
2014                  0
2015                  0
2016                  0
2017                  0
2018                  0
2019                  0
2020                  0
2021                  0
2022                  0
2023                  0
2024                  0
dtype: int64

In [72]:
missing_values = filtered_data3.isnull().sum()
missing_values

FREQ                  0
FREQ_LABEL            0
REF_AREA              0
REF_AREA_LABEL        0
INDICATOR             0
INDICATOR_LABEL       0
UNIT_MEASURE          0
UNIT_MEASURE_LABEL    0
DATABASE_ID           0
DATABASE_ID_LABEL     0
UNIT_MULT             0
UNIT_MULT_LABEL       0
OBS_STATUS            0
OBS_STATUS_LABEL      0
OBS_CONF              0
OBS_CONF_LABEL        0
2002                  0
2003                  0
2004                  0
2005                  0
2006                  0
2007                  0
2008                  0
2009                  0
2010                  0
2011                  0
2012                  0
2013                  0
2014                  0
2015                  0
2016                  0
2017                  0
2018                  0
2019                  0
2020                  0
2021                  0
2022                  0
2023                  0
2024                  0
dtype: int64

In [74]:
missing_values = filtered_data4.isnull().sum()
missing_values

FREQ                  0
FREQ_LABEL            0
REF_AREA              0
REF_AREA_LABEL        0
INDICATOR             0
INDICATOR_LABEL       0
UNIT_MEASURE          0
UNIT_MEASURE_LABEL    0
DATABASE_ID           0
DATABASE_ID_LABEL     0
UNIT_MULT             0
UNIT_MULT_LABEL       0
OBS_STATUS            0
OBS_STATUS_LABEL      0
OBS_CONF              0
OBS_CONF_LABEL        0
2017                  0
2018                  1
2019                  1
2020                  1
2021                  1
2022                  1
2023                  1
2024                  1
dtype: int64

In [76]:
missing_values = data.isnull().sum()
missing_values

FREQ                  0
FREQ_LABEL            0
REF_AREA              0
REF_AREA_LABEL        0
INDICATOR             0
INDICATOR_LABEL       0
UNIT_MEASURE          0
UNIT_MEASURE_LABEL    0
DATABASE_ID           0
DATABASE_ID_LABEL     0
UNIT_MULT             0
UNIT_MULT_LABEL       0
OBS_STATUS            0
OBS_STATUS_LABEL      0
OBS_CONF              0
OBS_CONF_LABEL        0
2017                  3
2018                  7
2019                  7
2020                  7
2021                  2
2022                  7
dtype: int64

In [78]:
missing_values = data2.isnull().sum()
missing_values

FREQ                  0
FREQ_LABEL            0
REF_AREA              0
REF_AREA_LABEL        0
INDICATOR             0
INDICATOR_LABEL       0
UNIT_MEASURE          0
UNIT_MEASURE_LABEL    0
DATABASE_ID           0
DATABASE_ID_LABEL     0
UNIT_MULT             0
UNIT_MULT_LABEL       0
OBS_STATUS            0
OBS_STATUS_LABEL      0
OBS_CONF              0
OBS_CONF_LABEL        0
2000                  1
2001                  1
2002                  1
2003                  1
2004                  1
2005                  1
2006                  1
2007                  1
2008                  1
2009                  1
2010                  1
2011                  1
2012                  1
2013                  0
2014                  0
2015                  0
2016                  0
2017                  0
2018                  0
2019                  0
2020                  0
2021                  0
2022                  0
2023                  0
2024                  9
dtype: int64

In [80]:
missing_values = data3.isnull().sum()
missing_values

FREQ                   0
FREQ_LABEL             0
REF_AREA               0
REF_AREA_LABEL         0
INDICATOR              0
INDICATOR_LABEL        0
UNIT_MEASURE           0
UNIT_MEASURE_LABEL     0
DATABASE_ID            0
DATABASE_ID_LABEL      0
UNIT_MULT              0
UNIT_MULT_LABEL        0
OBS_STATUS             0
OBS_STATUS_LABEL       0
OBS_CONF               0
OBS_CONF_LABEL         0
2002                   8
2003                  10
2004                  11
2005                  11
2006                  13
2007                  16
2008                  18
2009                  18
2010                  21
2011                  21
2012                  21
2013                  23
2014                  22
2015                  22
2016                  25
2017                  24
2018                  24
2019                  25
2020                  26
2021                  23
2022                  26
2023                  26
2024                  29
dtype: int64

In [82]:
missing_values = data4.isnull().sum()
missing_values

FREQ                  0
FREQ_LABEL            0
REF_AREA              0
REF_AREA_LABEL        0
INDICATOR             0
INDICATOR_LABEL       0
UNIT_MEASURE          0
UNIT_MEASURE_LABEL    0
DATABASE_ID           0
DATABASE_ID_LABEL     0
UNIT_MULT             0
UNIT_MULT_LABEL       0
OBS_STATUS            0
OBS_STATUS_LABEL      0
OBS_CONF              0
OBS_CONF_LABEL        0
2017                  1
2018                  4
2019                  6
2020                  7
2021                  7
2022                  7
2023                  5
2024                  9
dtype: int64

In [86]:
DietCost = data[["REF_AREA_LABEL", "INDICATOR_LABEL", "UNIT_MEASURE_LABEL", "OBS_STATUS_LABEL", "2017", "2018", "2019", "2020","2021", "2022"]]

In [88]:
DietCost

,REF_AREA_LABEL,INDICATOR_LABEL,UNIT_MEASURE_LABEL,OBS_STATUS_LABEL,2017,2018,2019,2020,2021,2022
0,Aruba,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.47,3.68,3.97,4.09,4.20,4.71
1,Angola,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.44,3.41,3.46,3.65,4.00,4.41
2,Albania,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.04,3.13,3.32,3.40,3.55,4.19
3,United Arab Emirates,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,2.42,2.50,2.55,2.74,2.86,3.14
4,Argentina,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.32,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
170,British Virgin Islands,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.53,3.37,3.59,3.52,3.74,3.80
171,Viet Nam,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.14,3.20,3.30,3.56,3.69,3.96
172,South Africa,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.05,3.08,3.12,3.19,3.39,3.74
173,Zambia,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,2.73,2.79,2.88,2.92,3.20,3.53
174,Zimbabwe,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.46,NaN,NaN,NaN,NaN,NaN

In [90]:
GDP_Per_Capita = data2[["REF_AREA_LABEL", "INDICATOR_LABEL", "UNIT_MEASURE_LABEL", "2017", "2018","2019", "2020","2021", "2022", "2023", "2024"]]

In [92]:
GDP_Per_Capita

,REF_AREA_LABEL,INDICATOR_LABEL,UNIT_MEASURE_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,2953.0,2902.4,2927.2,2769.7,2144.2,1981.7,1983.8,NaN
1,Angola,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,9042.1,8620.2,8274.5,7557.0,7408.1,7397.5,7250.4,7344.1
2,Albania,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,14155.0,14711.0,15078.5,14662.8,16126.8,17112.0,17991.0,18919.8
3,Andorra,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,63239.7,63048.6,63215.9,55488.5,59332.2,63913.4,64631.3,65928.3
4,United Arab Emirates,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,68871.8,68855.0,68887.8,65784.7,67401.1,68867.8,68577.5,68584.7
...,...,...,...,...,...,...,...,...,...,...,...
184,Vanuatu,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,3465.9,3482.0,3512.1,3260.0,3135.8,3222.8,3118.4,3169.2
185,Samoa,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,6919.0,6805.0,7033.5,6745.3,6214.0,5843.8,6340.6,6894.9
186,South Africa,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,14591.4,14571.4,14370.2,13266.8,13711.3,13777.2,13690.4,13598.8
187,Zambia,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,3612.5,3647.0,3591.6,3391.6,3503.0,3585.1,3673.5,3716.0
188,Zimbabwe,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,3453.5,3573.0,3294.8,2987.3,3184.8,3323.1,3442.2,3450.1

In [94]:
Undernourished_People = data3[["REF_AREA_LABEL", "INDICATOR_LABEL", "UNIT_MEASURE_LABEL", "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024"]]

In [96]:
Undernourished_People

,REF_AREA_LABEL,INDICATOR_LABEL,UNIT_MEASURE_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Number of people undernourished (million) (3-y...,Count,7.1,7.6,8.3,9.5,10.7,11.5,11.7,11.7
1,Angola,Number of people undernourished (million) (3-y...,Count,4.4,4.7,5.0,5.9,7.0,7.8,8.2,8.3
2,Albania,Number of people undernourished (million) (3-y...,Count,0.1,0.1,0.1,0.1,0.2,0.2,0.2,0.2
3,United Arab Emirates,Number of people undernourished (million) (3-y...,Count,0.3,0.3,0.3,0.3,0.2,NaN,NaN,NaN
4,Argentina,Number of people undernourished (million) (3-y...,Count,1.4,1.6,1.6,1.6,1.6,1.5,1.5,1.5
...,...,...,...,...,...,...,...,...,...,...,...
115,"Venezuela, RB",Number of people undernourished (million) (3-y...,Count,5.3,7.2,7.0,7.0,5.3,3.7,2.1,1.7
116,Viet Nam,Number of people undernourished (million) (3-y...,Count,7.3,7.0,6.6,6.2,5.8,5.6,5.4,5.3
117,South Africa,Number of people undernourished (million) (3-y...,Count,3.7,3.5,3.7,4.3,5.2,5.8,6.2,6.3
118,Zambia,Number of people undernourished (million) (3-y...,Count,5.7,5.5,5.7,5.9,6.5,7.0,7.3,7.7
119,Zimbabwe,Number of people undernourished (million) (3-y...,Count,4.8,4.6,4.7,4.6,4.4,3.9,3.4,3.2

In [98]:
Unable_To_Afford = data4[["REF_AREA_LABEL",	"INDICATOR_LABEL", "UNIT_MEASURE_LABEL", "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024"]]

In [100]:
Unable_To_Afford

,REF_AREA_LABEL,INDICATOR_LABEL,UNIT_MEASURE_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
0,Angola,Number of people unable to afford a healthy di...,Persons,18.4,19.8,20.8,22.8,24.1,25.1,26.0,27.1
1,Albania,Number of people unable to afford a healthy di...,Persons,0.7,0.5,0.4,0.4,0.4,0.3,0.3,0.3
2,United Arab Emirates,Number of people unable to afford a healthy di...,Persons,0.3,0.2,0.2,0.3,0.3,0.2,0.2,0.2
3,Argentina,Number of people unable to afford a healthy di...,Persons,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Armenia,Number of people unable to afford a healthy di...,Persons,1.4,1.4,1.5,1.6,1.6,1.6,1.5,1.9
...,...,...,...,...,...,...,...,...,...,...,...
141,Uzbekistan,Number of people unable to afford a healthy di...,Persons,6.3,6.0,5.6,6.0,5.5,5.4,5.4,4.8
142,Viet Nam,Number of people unable to afford a healthy di...,Persons,11.5,10.5,9.0,9.8,10.4,10.0,9.5,8.9
143,South Africa,Number of people unable to afford a healthy di...,Persons,35.0,35.3,35.9,37.4,37.6,38.1,39.0,39.5
144,Zambia,Number of people unable to afford a healthy di...,Persons,13.6,14.0,14.6,15.3,15.9,16.5,17.0,17.5
145,Zimbabwe,Number of people unable to afford a healthy di...,Persons,11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
#This is where we were renaming the country names from each dataset to ="COUNTRY_NAME" for easier understanding 
DietCost.rename(columns={'REF_AREA_LABEL': 'COUNTRY_NAME'}, inplace = True)

In [104]:
DietCost

,COUNTRY_NAME,INDICATOR_LABEL,UNIT_MEASURE_LABEL,OBS_STATUS_LABEL,2017,2018,2019,2020,2021,2022
0,Aruba,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.47,3.68,3.97,4.09,4.20,4.71
1,Angola,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.44,3.41,3.46,3.65,4.00,4.41
2,Albania,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.04,3.13,3.32,3.40,3.55,4.19
3,United Arab Emirates,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,2.42,2.50,2.55,2.74,2.86,3.14
4,Argentina,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.32,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
170,British Virgin Islands,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.53,3.37,3.59,3.52,3.74,3.80
171,Viet Nam,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.14,3.20,3.30,3.56,3.69,3.96
172,South Africa,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.05,3.08,3.12,3.19,3.39,3.74
173,Zambia,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,2.73,2.79,2.88,2.92,3.20,3.53
174,Zimbabwe,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.46,NaN,NaN,NaN,NaN,NaN

In [106]:
DietCost.rename(columns={'Country_Name': 'COUNTRY_NAME'}, inplace = True)

In [108]:
DietCost

,COUNTRY_NAME,INDICATOR_LABEL,UNIT_MEASURE_LABEL,OBS_STATUS_LABEL,2017,2018,2019,2020,2021,2022
0,Aruba,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.47,3.68,3.97,4.09,4.20,4.71
1,Angola,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.44,3.41,3.46,3.65,4.00,4.41
2,Albania,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.04,3.13,3.32,3.40,3.55,4.19
3,United Arab Emirates,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,2.42,2.50,2.55,2.74,2.86,3.14
4,Argentina,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.32,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
170,British Virgin Islands,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.53,3.37,3.59,3.52,3.74,3.80
171,Viet Nam,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.14,3.20,3.30,3.56,3.69,3.96
172,South Africa,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.05,3.08,3.12,3.19,3.39,3.74
173,Zambia,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,2.73,2.79,2.88,2.92,3.20,3.53
174,Zimbabwe,Cost of a healthy diet (PPP dollar per person ...,PPP dollars per person per day,Normal value,3.46,NaN,NaN,NaN,NaN,NaN

In [110]:
GDP_Per_Capita.rename(columns={'REF_AREA_LABEL': 'COUNTRY_NAME'}, inplace = True)

In [112]:
GDP_Per_Capita

,COUNTRY_NAME,INDICATOR_LABEL,UNIT_MEASURE_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,2953.0,2902.4,2927.2,2769.7,2144.2,1981.7,1983.8,NaN
1,Angola,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,9042.1,8620.2,8274.5,7557.0,7408.1,7397.5,7250.4,7344.1
2,Albania,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,14155.0,14711.0,15078.5,14662.8,16126.8,17112.0,17991.0,18919.8
3,Andorra,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,63239.7,63048.6,63215.9,55488.5,59332.2,63913.4,64631.3,65928.3
4,United Arab Emirates,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,68871.8,68855.0,68887.8,65784.7,67401.1,68867.8,68577.5,68584.7
...,...,...,...,...,...,...,...,...,...,...,...
184,Vanuatu,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,3465.9,3482.0,3512.1,3260.0,3135.8,3222.8,3118.4,3169.2
185,Samoa,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,6919.0,6805.0,7033.5,6745.3,6214.0,5843.8,6340.6,6894.9
186,South Africa,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,14591.4,14571.4,14370.2,13266.8,13711.3,13777.2,13690.4,13598.8
187,Zambia,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,3612.5,3647.0,3591.6,3391.6,3503.0,3585.1,3673.5,3716.0
188,Zimbabwe,"Gross domestic product per capita, PPP, (const...",International Dollar per capita,3453.5,3573.0,3294.8,2987.3,3184.8,3323.1,3442.2,3450.1

In [114]:
Undernourished_People.rename(columns={'REF_AREA_LABEL': 'COUNTRY_NAME'}, inplace = True)

In [116]:
Undernourished_People

,COUNTRY_NAME,INDICATOR_LABEL,UNIT_MEASURE_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Number of people undernourished (million) (3-y...,Count,7.1,7.6,8.3,9.5,10.7,11.5,11.7,11.7
1,Angola,Number of people undernourished (million) (3-y...,Count,4.4,4.7,5.0,5.9,7.0,7.8,8.2,8.3
2,Albania,Number of people undernourished (million) (3-y...,Count,0.1,0.1,0.1,0.1,0.2,0.2,0.2,0.2
3,United Arab Emirates,Number of people undernourished (million) (3-y...,Count,0.3,0.3,0.3,0.3,0.2,NaN,NaN,NaN
4,Argentina,Number of people undernourished (million) (3-y...,Count,1.4,1.6,1.6,1.6,1.6,1.5,1.5,1.5
...,...,...,...,...,...,...,...,...,...,...,...
115,"Venezuela, RB",Number of people undernourished (million) (3-y...,Count,5.3,7.2,7.0,7.0,5.3,3.7,2.1,1.7
116,Viet Nam,Number of people undernourished (million) (3-y...,Count,7.3,7.0,6.6,6.2,5.8,5.6,5.4,5.3
117,South Africa,Number of people undernourished (million) (3-y...,Count,3.7,3.5,3.7,4.3,5.2,5.8,6.2,6.3
118,Zambia,Number of people undernourished (million) (3-y...,Count,5.7,5.5,5.7,5.9,6.5,7.0,7.3,7.7
119,Zimbabwe,Number of people undernourished (million) (3-y...,Count,4.8,4.6,4.7,4.6,4.4,3.9,3.4,3.2

In [118]:
Unable_To_Afford.rename(columns={'REF_AREA_LABEL': 'COUNTRY_NAME'}, inplace = True)

In [120]:
Unable_To_Afford

,COUNTRY_NAME,INDICATOR_LABEL,UNIT_MEASURE_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
0,Angola,Number of people unable to afford a healthy di...,Persons,18.4,19.8,20.8,22.8,24.1,25.1,26.0,27.1
1,Albania,Number of people unable to afford a healthy di...,Persons,0.7,0.5,0.4,0.4,0.4,0.3,0.3,0.3
2,United Arab Emirates,Number of people unable to afford a healthy di...,Persons,0.3,0.2,0.2,0.3,0.3,0.2,0.2,0.2
3,Argentina,Number of people unable to afford a healthy di...,Persons,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Armenia,Number of people unable to afford a healthy di...,Persons,1.4,1.4,1.5,1.6,1.6,1.6,1.5,1.9
...,...,...,...,...,...,...,...,...,...,...,...
141,Uzbekistan,Number of people unable to afford a healthy di...,Persons,6.3,6.0,5.6,6.0,5.5,5.4,5.4,4.8
142,Viet Nam,Number of people unable to afford a healthy di...,Persons,11.5,10.5,9.0,9.8,10.4,10.0,9.5,8.9
143,South Africa,Number of people unable to afford a healthy di...,Persons,35.0,35.3,35.9,37.4,37.6,38.1,39.0,39.5
144,Zambia,Number of people unable to afford a healthy di...,Persons,13.6,14.0,14.6,15.3,15.9,16.5,17.0,17.5
145,Zimbabwe,Number of people unable to afford a healthy di...,Persons,11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
#Gathering the datatypes of the DietCost Table
DietCost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   COUNTRY_NAME        175 non-null    object
 1   INDICATOR_LABEL     175 non-null    object
 2   UNIT_MEASURE_LABEL  175 non-null    object
 3   OBS_STATUS_LABEL    175 non-null    object
 4   2017                172 non-null    float64
 5   2018                168 non-null    float64
 6   2019                168 non-null    float64
 7   2020                168 non-null    float64
 8   2021                173 non-null    float64
 9   2022                168 non-null    float64
dtypes: float64(6), object(4)
memory usage: 13.8+ KB

In [124]:
#Gathering the datatypes of the GDP_Per_Capita Table
GDP_Per_Capita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   COUNTRY_NAME        189 non-null    object
 1   INDICATOR_LABEL     189 non-null    object
 2   UNIT_MEASURE_LABEL  189 non-null    object
 3   2017                189 non-null    float64
 4   2018                189 non-null    float64
 5   2019                189 non-null    float64
 6   2020                189 non-null    float64
 7   2021                189 non-null    float64
 8   2022                189 non-null    float64
 9   2023                189 non-null    float64
 10  2024                180 non-null    float64
dtypes: float64(8), object(3)
memory usage: 16.4+ KB

In [126]:
#Gathering the datatypes of the Undernourished_People Table
Undernourished_People.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   COUNTRY_NAME        120 non-null    object
 1   INDICATOR_LABEL     120 non-null    object
 2   UNIT_MEASURE_LABEL  120 non-null    object
 3   2017                96 non-null     float64
 4   2018                96 non-null     float64
 5   2019                95 non-null     float64
 6   2020                94 non-null     float64
 7   2021                97 non-null     float64
 8   2022                94 non-null     float64
 9   2023                94 non-null     float64
 10  2024                91 non-null     float64
dtypes: float64(8), object(3)
memory usage: 10.4+ KB

In [128]:
#Gathering the datatypes of the Unable_To_Afford Table
Unable_To_Afford.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   COUNTRY_NAME        146 non-null    object
 1   INDICATOR_LABEL     146 non-null    object
 2   UNIT_MEASURE_LABEL  146 non-null    object
 3   2017                145 non-null    float64
 4   2018                142 non-null    float64
 5   2019                140 non-null    float64
 6   2020                139 non-null    float64
 7   2021                139 non-null    float64
 8   2022                139 non-null    float64
 9   2023                141 non-null    float64
 10  2024                137 non-null    float64
dtypes: float64(8), object(3)
memory usage: 12.7+ KB

In [130]:
#Checking duplicate values for each datasets
DietCost.duplicated().sum()

0

In [132]:
GDP_Per_Capita.duplicated().sum()

0

In [134]:
Undernourished_People.duplicated().sum()

0

In [136]:
Unable_To_Afford.duplicated().sum()

0

In [138]:
#Checking duplicate values for colomns
DietCost.duplicated(subset=['COUNTRY_NAME']).sum()

0

In [140]:
GDP_Per_Capita.duplicated(subset=['COUNTRY_NAME']).sum()

0

In [142]:
Undernourished_People.duplicated(subset=['COUNTRY_NAME']).sum()

0

In [144]:
Unable_To_Afford.duplicated(subset=['COUNTRY_NAME']).sum()

0

In [146]:
DietCost['COUNTRY_NAME'].unique()

array(['Aruba', 'Angola', 'Albania', 'United Arab Emirates', 'Argentina',
       'Armenia', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Curacao', 'Cayman Islands', 'Cyprus', 'Czechia', 'Germany',
       'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'Ecuador', 'Egypt, Arab Rep.', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'France', 'Gabon', 'United Kingdom', 'Ghana',
       'Guinea', 'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea',
       'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hong Kong SAR, China',
       'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'India',
       'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'St. Kitts and Nevis',
       'Korea, Rep.', 'Kuwait', 'Lao PDR', 'Lebanon', 'Liberia',
       'St. Lucia', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Morocco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro',
       'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi',
       'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Paraguay', 'West Bank and Gaza', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Sierra Leone', 'Somalia', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo',
       'Thailand', 'Tajikistan', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Taiwan, China', 'Tanzania', 'Uganda', 'Uruguay',
       'United States', 'Uzbekistan', 'St. Vincent and the Grenadines',
       'British Virgin Islands', 'Viet Nam', 'South Africa', 'Zambia',
       'Zimbabwe'], dtype=object)

In [149]:
GDP_Per_Capita['COUNTRY_NAME'].unique()

array(['Afghanistan', 'Angola', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cyprus',
       'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt, Arab Rep.',
       'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'France',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guyana', 'Hong Kong SAR, China', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'India', 'Ireland', 'Iran, Islamic Rep.',
       'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Sri Lanka', 'Lesotho',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'Morocco',
       'Moldova', 'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands',
       'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro',
       'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi',
       'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'Puerto Rico', 'Portugal',
       'Paraguay', 'West Bank and Gaza', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'Somalia', 'Serbia', 'Sao Tome and Principe', 'Suriname',
       'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini', 'Seychelles',
       'Syrian Arab Republic', 'Chad', 'Togo', 'Thailand', 'Tajikistan',
       'Turkmenistan', 'Timor-Leste', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Viet Nam', 'Vanuatu', 'Samoa',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [153]:
Undernourished_People['COUNTRY_NAME'].unique()

array(['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates',
       'Argentina', 'Armenia', 'Azerbaijan', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bosnia and Herzegovina', 'Belarus',
       'Bolivia', 'Brazil', 'Botswana', 'Central African Republic',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Costa Rica', 'Djibouti',
       'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt, Arab Rep.',
       'Ethiopia', 'Gabon', 'Georgia', 'Ghana', 'Guinea', 'Gambia, The',
       'Guinea-Bissau', 'Guatemala', 'Hong Kong SAR, China', 'Honduras',
       'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'India',
       'Iran, Islamic Rep.', 'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Korea, Rep.', 'Lebanon',
       'Liberia', 'Libya', 'Sri Lanka', 'Latvia', 'Morocco', 'Moldova',
       'Madagascar', 'Mexico', 'North Macedonia', 'Mali', 'Myanmar',
       'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi',
       'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua', 'Nepal',
       'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Papua New Guinea', "Korea, Dem. People's Rep.", 'Paraguay',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Solomon Islands', 'Sierra Leone', 'El Salvador', 'Somalia',
       'Serbia', 'South Sudan', 'Slovak Republic', 'Eswatini',
       'Syrian Arab Republic', 'Chad', 'Togo', 'Thailand', 'Tajikistan',
       'Turkmenistan', 'Timor-Leste', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Taiwan, China', 'Tanzania', 'Uganda', 'Ukraine',
       'Uruguay', 'Uzbekistan', 'Venezuela, RB', 'Viet Nam',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [157]:
Unable_To_Afford['COUNTRY_NAME'].unique()

array(['Angola', 'Albania', 'United Arab Emirates', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Burundi',
       'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bolivia', 'Brazil',
       'Bhutan', 'Botswana', 'Central African Republic', 'Canada',
       'Switzerland', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros',
       'Cabo Verde', 'Costa Rica', 'Cyprus', 'Czechia', 'Germany',
       'Djibouti', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador',
       'Egypt, Arab Rep.', 'Spain', 'Estonia', 'Ethiopia', 'Finland',
       'Fiji', 'France', 'Gabon', 'United Kingdom', 'Ghana', 'Guinea',
       'Gambia, The', 'Guinea-Bissau', 'Greece', 'Guatemala', 'Guyana',
       'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'India',
       'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Korea, Rep.', 'Lao PDR', 'Lebanon', 'Liberia',
       'Sri Lanka', 'Lesotho', 'Lithuania', 'Latvia', 'Morocco',
       'Moldova', 'Madagascar', 'Mexico', 'North Macedonia', 'Mali',
       'Myanmar', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'Namibia', 'Niger', 'Nigeria',
       'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'New Zealand',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Paraguay', 'West Bank and Gaza', 'Romania', 'Russian Federation',
       'Rwanda', 'Sudan', 'Senegal', 'Sierra Leone', 'Serbia',
       'South Sudan', 'Sao Tome and Principe', 'Suriname',
       'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini', 'Seychelles',
       'Syrian Arab Republic', 'Chad', 'Togo', 'Thailand', 'Tajikistan',
       'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Taiwan, China',
       'Tanzania', 'Uganda', 'Uruguay', 'United States', 'Uzbekistan',
       'Viet Nam', 'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [225]:
target_countries = ["Botswana", "Eswatini", "Zambia", "Namibia", "South Africa"]

filtered_DietCost = DietCost[DietCost["COUNTRY_NAME"].isin(target_countries)]

# Display the filtered data
print(filtered)

   COUNTRY_NAME                                    INDICATOR_LABEL  \
0      Botswana  Number of people unable to afford a healthy di...
1       Namibia  Number of people unable to afford a healthy di...
2      Eswatini  Number of people unable to afford a healthy di...
3  South Africa  Number of people unable to afford a healthy di...
4        Zambia  Number of people unable to afford a healthy di...

  UNIT_MEASURE_LABEL  2017  2018  2019  2020  2021  2022  2023  2024
0            Persons   1.4   1.4   1.4   1.4   1.5   1.5   1.5   1.5
1            Persons   1.4   1.5   1.5   1.7   1.7   1.6   1.7   1.7
2            Persons   0.8   0.8   0.8   0.8   0.8   0.8   0.8   0.8
3            Persons  35.0  35.3  35.9  37.4  37.6  38.1  39.0  39.5
4            Persons  13.6  14.0  14.6  15.3  15.9  16.5  17.0  17.5

In [235]:
desc_stats = filtered_DietCost.describe()
print("descriptive statistics:\n", desc_stats)

#COME BACK AND WRITE INSIGHTS

descriptive statistics:
            2017      2018      2019      2020      2021      2022
count  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000
mean   3.110000  3.116000  3.168000  3.240000  3.432000  3.736000
std    0.244847  0.214663  0.208974  0.230543  0.223652  0.252646
min    2.730000  2.790000  2.880000  2.920000  3.200000  3.530000
25%    3.050000  3.080000  3.100000  3.190000  3.310000  3.560000
50%    3.130000  3.090000  3.120000  3.200000  3.390000  3.690000
75%    3.280000  3.290000  3.330000  3.340000  3.470000  3.740000
max    3.360000  3.330000  3.410000  3.550000  3.790000  4.160000

In [227]:
target_countries = ["Botswana", "Eswatini", "Zambia", "Namibia", "South Africa"]

filtered_GDP = GDP_Per_Capita[GDP_Per_Capita["COUNTRY_NAME"].isin(target_countries)]

# Display the filtered data
print(filtered)

   COUNTRY_NAME                                    INDICATOR_LABEL  \
0      Botswana  Number of people unable to afford a healthy di...
1       Namibia  Number of people unable to afford a healthy di...
2      Eswatini  Number of people unable to afford a healthy di...
3  South Africa  Number of people unable to afford a healthy di...
4        Zambia  Number of people unable to afford a healthy di...

  UNIT_MEASURE_LABEL  2017  2018  2019  2020  2021  2022  2023  2024
0            Persons   1.4   1.4   1.4   1.4   1.5   1.5   1.5   1.5
1            Persons   1.4   1.5   1.5   1.7   1.7   1.6   1.7   1.7
2            Persons   0.8   0.8   0.8   0.8   0.8   0.8   0.8   0.8
3            Persons  35.0  35.3  35.9  37.4  37.6  38.1  39.0  39.5
4            Persons  13.6  14.0  14.6  15.3  15.9  16.5  17.0  17.5

In [237]:
desc_stats = filtered_GDP.describe()
print("descriptive statistics:\n", desc_stats)

#COME BACK AND WRITE INSIGHTS

descriptive statistics:
                2017          2018          2019          2020          2021  \
count      5.000000      5.000000      5.000000      5.000000      5.000000
mean   11332.420000  11378.000000  11400.880000  10465.500000  10966.000000
std     5223.648643   5352.675877   5402.263658   4822.117144   5356.716995
min     3612.500000   3647.000000   3591.600000   3391.600000   3503.000000
25%     9696.600000   9632.200000  10123.300000   9652.200000   9709.100000
50%    11408.700000  11214.400000  10813.300000   9727.500000   9946.000000
75%    14591.400000  14571.400000  14370.200000  13266.800000  13711.300000
max    17352.900000  17825.000000  18106.000000  16289.400000  17960.600000

               2022          2023          2024
count      5.000000      5.000000      5.000000
mean   11183.700000  11327.140000  11206.380000
std     5549.642832   5583.151252   5255.425414
min     3585.100000   3673.500000   3716.000000
25%     9953.100000  10137.700000  10281.300000
50%     9955.700000  10201.600000  10367.300000
75%    13777.200000  13690.400000  13598.800000
max    18647.400000  18932.500000  18068.500000

In [229]:
target_countries = ["Botswana", "Eswatini", "Zambia", "Namibia", "South Africa"]

filtered_Undernourished = Undernourished_People[Undernourished_People["COUNTRY_NAME"].isin(target_countries)]

# Display the filtered data
print(filtered)

   COUNTRY_NAME                                    INDICATOR_LABEL  \
0      Botswana  Number of people unable to afford a healthy di...
1       Namibia  Number of people unable to afford a healthy di...
2      Eswatini  Number of people unable to afford a healthy di...
3  South Africa  Number of people unable to afford a healthy di...
4        Zambia  Number of people unable to afford a healthy di...

  UNIT_MEASURE_LABEL  2017  2018  2019  2020  2021  2022  2023  2024
0            Persons   1.4   1.4   1.4   1.4   1.5   1.5   1.5   1.5
1            Persons   1.4   1.5   1.5   1.7   1.7   1.6   1.7   1.7
2            Persons   0.8   0.8   0.8   0.8   0.8   0.8   0.8   0.8
3            Persons  35.0  35.3  35.9  37.4  37.6  38.1  39.0  39.5
4            Persons  13.6  14.0  14.6  15.3  15.9  16.5  17.0  17.5

In [239]:
desc_stats = filtered_Undernourished.describe()
print("descriptive statistics:\n", desc_stats)

#COME BACK AND WRITE INSIGHTS

descriptive statistics:
            2017      2018      2019      2020      2021      2022      2023  \
count  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000
mean   2.120000  2.040000  2.120000  2.260000  2.560000  2.800000  2.960000
std    2.462113  2.357541  2.462113  2.658571  3.042696  3.318885  3.484681
min    0.200000  0.200000  0.200000  0.100000  0.100000  0.100000  0.200000
25%    0.500000  0.500000  0.500000  0.500000  0.500000  0.500000  0.500000
50%    0.500000  0.500000  0.500000  0.500000  0.500000  0.600000  0.600000
75%    3.700000  3.500000  3.700000  4.300000  5.200000  5.800000  6.200000
max    5.700000  5.500000  5.700000  5.900000  6.500000  7.000000  7.300000

           2024
count  5.000000
mean   3.060000
std    3.633593
min    0.200000
25%    0.500000
50%    0.600000
75%    6.300000
max    7.700000

In [231]:
target_countries = ["Botswana", "Eswatini", "Zambia", "Namibia", "South Africa"]

filtered_Unaffordability = Unable_To_Afford[Unable_To_Afford["COUNTRY_NAME"].isin(target_countries)]

# Display the filtered data
print(filtered)

   COUNTRY_NAME                                    INDICATOR_LABEL  \
0      Botswana  Number of people unable to afford a healthy di...
1       Namibia  Number of people unable to afford a healthy di...
2      Eswatini  Number of people unable to afford a healthy di...
3  South Africa  Number of people unable to afford a healthy di...
4        Zambia  Number of people unable to afford a healthy di...

  UNIT_MEASURE_LABEL  2017  2018  2019  2020  2021  2022  2023  2024
0            Persons   1.4   1.4   1.4   1.4   1.5   1.5   1.5   1.5
1            Persons   1.4   1.5   1.5   1.7   1.7   1.6   1.7   1.7
2            Persons   0.8   0.8   0.8   0.8   0.8   0.8   0.8   0.8
3            Persons  35.0  35.3  35.9  37.4  37.6  38.1  39.0  39.5
4            Persons  13.6  14.0  14.6  15.3  15.9  16.5  17.0  17.5

In [241]:
desc_stats = filtered_Unaffordability.describe()
print("descriptive statistics:\n", desc_stats)

#COME BACK AND WRITE INSIGHTS

descriptive statistics:
             2017       2018       2019       2020       2021       2022  \
count   5.000000   5.000000   5.000000   5.000000   5.000000   5.000000
mean   10.440000  10.600000  10.840000  11.320000  11.500000  11.700000
std    14.744084  14.875651  15.159914  15.792625  15.898899  16.162147
min     0.800000   0.800000   0.800000   0.800000   0.800000   0.800000
25%     1.400000   1.400000   1.400000   1.400000   1.500000   1.500000
50%     1.400000   1.500000   1.500000   1.700000   1.700000   1.600000
75%    13.600000  14.000000  14.600000  15.300000  15.900000  16.500000
max    35.000000  35.300000  35.900000  37.400000  37.600000  38.100000

            2023       2024
count   5.000000   5.000000
mean   12.000000  12.200000
std    16.551284  16.793451
min     0.800000   0.800000
25%     1.500000   1.500000
50%     1.700000   1.700000
75%    17.000000  17.500000
max    39.000000  39.500000